{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block css %}

{% load static %}
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<style>
    #hospital {
        height: 100%;
    }
</style>

{% endblock %}

{% block body %}
<div class="container" style="height: 80vh;">
    <div>
        <h1 class="text-center my-4" style="color:white">WELCOME TO AMBULANCE FINDER</h1>
    </div>
    <div style="margin-left: 0%; margin-top: 5%; margin-right: 0%; height: 100%;">
        {% leaflet_map 'hospital' callback="window.map_init_basic" %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var redIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });
    function map_init_basic(map, options) {
        var routingControl = null;
        var myLocation;
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                map.setView([position.coords.latitude, position.coords.longitude], 14);
                $.ajax({
                    type: "POST",
                    url: "{% url 'get_nearby_hospitals' %}",
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    dataType: 'json',
                    data: { "lat": position.coords.latitude, "long": position.coords.longitude },
                    success: function (result) {
                        var data;
                        console.log(result);
                        for (let index = 0; index < result['data']['features'].length; index++) {
                            data = result['data']['features'][index];
                            L.marker(data['geometry']['coordinates'].reverse()).on('click', onClick).addTo(map).bindPopup("name : " + data['properties']['name'] + "<br>" + "landmark : " + data['properties']['landmark'])
                        }
                        function onClick(e) {
                            if (routingControl != null) {
                                map.removeControl(routingControl);
                            }
                            routingControl = L.Routing.control({
                                waypoints: [
                                    L.latLng(position.coords.latitude, position.coords.longitude),
                                    L.latLng(e.latlng)
                                ]
                            }).addTo(map);
                            myLocation.removeFrom(map);
                            myLocation = L.marker([position.coords.latitude, position.coords.longitude], { icon: redIcon });
                            myLocation.addTo(map)
                        }
                        myLocation = L.marker([position.coords.latitude, position.coords.longitude], { icon: redIcon });
                        myLocation.addTo(map)
                    }
                });
            });
        }
        else {
            alert("Sorry, your browser does not support HTML5 geolocation.");
        }
    }
</script>
{% endblock %}